
/* top links */
div#manpinder-link-list ul {
    list-style: none;
    width: 100%;
}
.home-link{
    width:32%;
    float:left;
    text-align: center;
    font-size: 20px;
}
.story-link{
    width:33%;
    float:left;
    text-align: center;
    font-size: 20px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.contact-link{
    width:32%;
    float:right;
    text-align: center;
    font-size: 20px;
}

/* layout  for the website*/
.flex {
    display: flex;
}
div#content-for-leopard img {
    width: 100%;
}

.sec1 {
    width: 20%;
}

.sec2 {
    width: 80%;
}

h2 {
    font-size: 25px;
    margin: 11px 0px;
}

div#content-for-leopard p {
    padding: 0px 18px;
    margin: 0px;
    font-size: 21px;
}

/* facts section about leopard */
.facts-of-Leopard ul {
    padding-top: 1px;
    font-size: 21px;
    padding-left: 25px;
    padding-right: 25px;
}
/* form design */
form {
    border: 1px solid;
    padding: 18px 14px;
    border-color: black;
}
.full-width-input {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 17px;
}
.formtext-info {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 7px;
}
.radio {
    font-size: 18px;
}
#submit {
    border: 1px solid black;
    width: 90px;
    font-size: 14px;
    padding: 10px 0px;
    margin-top: 20px;
    background: transparent;
}

/* footer for the website*/
footer {
    padding: 10px;
    text-align: right;
}
/* top-Banner */
#img-of-Leopard {
    background: url(img/Leopard-tree-Kenya-Masai-Mara-National-Reserve.webp);
    background-size: cover;
}

/* banner text */
#img-of-Leopard h1 {
    text-align: center;
    padding: 265px 0px 75px;
    margin: 0px;
    color: white;
    font-size: 50px;
}
/*site body layout*/
body {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    background: #edd5b4;
}

div#content-for-leopard {
    padding: 10px;
}
.facts-of-Leopard{
    padding: 10px;
}
#form-contact {
    padding: 10px;
}
main {
    background: #fcf8f4;
    max-width: 80%;
    margin: auto;
}
